@page "/access-denied"
@layout Layout.BaseLayout

<article>
    <div><a href="/" class="btn-toolbar">Kezdőoldal</a></div>
<hr />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center">
                    <img src="/Img/access-denied.png" style="max-height:15rem" />
                </div>
                <div class="text-center mt-3">
                    <span class="text-danger fw-bold fs-5">Bejelentkezés megtagadva!</span>
                </div>
            </div>
        </div>
    </div>
</div>
</article>

