@inherits LayoutComponentBase

<PageTitle>Vacation</PageTitle>


<main class="d-flex flex-column main">

    <div class="Calendar  bg-blue">
        <TopNavBar />
    </div>

    <div class="calendarbody">
        @Body
    </div>

    <div>
        <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
            A szabadságtervező és nyilvántartó programot Andi & Krisztián készítette
        </footer>
    </div>

</main>
