@page "/details"

<h2>A szabadság számolása</h2>

<div class="Article">
    <p class="szoveg1">
        Magyarországon a fizetett szabadság mértékét a Munka Törvénykönyve 
        szabályozza (2012. évi I. törvény a munka törvénykönyvéről 
        59. A szabadság ), amely meghatározza a munkavállalóknak járó minimális
        szabadságnapok számát és a szabadság kiszámításának módját, eszerint a 
        munkavállalónak a munkában töltött idő alapján minden naptári évben 
        szabadság jár, amely alap- és pótszabadságból áll.
    </p>
    <p class="szoveg1">Az alapszabadság mértéke évente 20 munkanap, amely minden munkavállalónak jár.</p>
    <p class="szoveg2"><strong>A pótszabadságok fajtái és mértéke:</strong></p>



    <summary><p class="szoveg2"><strong>A munkavállalók pót szabadságra jogosultak életkoruk alapján.</strong></p></summary><details>
      <ul class="lista">
        <li>25. életévétől 1,</li>
        <li>28. életévétől 2,</li>
        <li>31. életévétől 3,</li>
        <li>33. életévétől 4,</li>
        <li>35. életévétől 5,</li>
        <li>37. életévétől 6,</li>
        <li>39. életévétől 7,</li>
        <li>40. életévétől 8,</li>
        <li>43. életévétől 9,</li>
        <li>45. életévétől 10 munkanap pótszabadság jár.</li>
    </ul></details>
    <summary><p class="szoveg2"><strong>Gyermekek után járó pótszabadság</strong></p></summary><details>
    <p class="szoveg1">A szabadság mértéke a gyermekek számától függ. A gyermek születésének évétől jogosult a munkavállaló, utoljára pedig abban az évben, amelyben a gyermek betölti a 16. életévét.</p>
     <ul class="lista">
        <li>Egy gyermek után: 2,</li>
        <li>Két gyermek után: 4,</li>
        <li>Kettőnél több gyermek után: 7 munkanap.</li>
    </ul>
    <p class="szoveg1">A gyermek után járó pótszabadság mindkét szülőt megilleti.</p>
        <p class="szoveg1">A pótszabadság mértéke fogyatékos gyermek esetén 2 munkanappal növekszik minden fogyatékos gyermek után.</p>
    </details>

    <summary><p class="szoveg2"><strong>Apasági szabadság</strong></p></summary><details>
    <p class="szoveg1">Az apának, gyermek születése esetén, legkésőbb a születést követő második hónap végéig, tíz munkanap pótszabadság jár.
        Apasági szabadság jár a gyermek örökbefogadása esetén is.Legkésőbb az örökbefogadást engedélyező határozat véglegessé válását követő második
        hónap végéig tíz munkanap pótszabadság jár.
        Az apaszabadságot az apa kérésének megfelelő időpontban, legfeljebb két részletben kell biztosítani.
            Az apasági szabadságra a munkavállaló akkor is jogosult, ha a gyermeke halva születik, vagy meghal.
        </p></details>
    <summary><p class="szoveg2"><strong>Fiatal munkavállaló</strong></p></summary><details>
        <p class="szoveg1">Fiatal munkavállalónak - hogyha a munkavállaló még kiskorú - évenként öt munkanap pótszabadság jár. Utoljára abban az évben, amikor betölti a 18. életévét.</p>
    </details>
    <summary><p class="szoveg2"><strong>Fogyatékosság esetén</strong></p></summary><details>
        <p class="szoveg1">Abban az esetben, ha a dolgozó megváltozott munkaképességű, fogyatékossági támogatásra jogosult, vagy vakok személyi járadékára jogosult, öt munkanap pótszabadság jár.</p>
    </details>
    <summary><p class="szoveg2"><strong>Föld alatti munkavégzés esetén</strong></p></summary><details>
        <p class="szoveg1">A föld alatt állandó jelleggel, vagy ionizált sugárzásnak kitett munkahelyen a naponta legalább három órát dolgozó munkavállalókat is megillet, öt munkanap pótszabadság.</p>
    </details>
    <hr/>

    <p class="link"><a href="https://net.jogtar.hu/jogszabaly?docid=a1200001.tv" target="_blank">Forrás: Jogtár</a></p>
</div>

