@page "/approverlogin"

<div class="grid-container">
 
    <div class="grid-item m-5"><a href="/uservacation" class="btn-uservacation">Szabadság tervezés</a></div>

    <div class="grid-item m-5"><a href="/approveitem" class="btn-planlist">Jóváhagyó felület</a></div>
</div>

@code {

}
